<header>
    <h1>Welcome to All In One E-Commerce</h1>
    <p>|Sell Anything|</p>
    <p>|Buy Anything|</p>
  </header>

<div style="text-align: center">
</div>
 <button (click)="goToHome()"  class="home-button">home!</button>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Please Fill The Below Details<span class="req"><small>
                                </small></span></legend>

                    <div class="form-group">
                        <label for="businessName"><span class="req">* </span> Business Name:  </label>
                        <input required type="text" [(ngModel)]="seller.businessName" name="businessName" id="businessName"
                            class="form-control phone" maxlength="28" placeholder="Enter your business name" />
                    </div>

                    <div class="form-group">
                        <label for="businessAddress"><span class="req">* </span> Business Address: </label>
                        <input class="form-control" type="text" [(ngModel)]="seller.businessAddress" name="businessAddress" id="businessAddress" required
                            placeholder="Enter your business address" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="bContsct"><span class="req">* </span> Contact : </label>
                        <input class="form-control" type="text" [(ngModel)]="seller.bContsct" name="bContsct" id="bContsct"
                            placeholder="Enter your contact" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="bEmail"><span class="req">* </span> Email: </label>
                        <input class="form-control" required type="text" [(ngModel)]="seller.bEmail" name="bEmail"
                            id="bEmail" placeholder="Enter your email" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="bSSN"><span class="req">* </span> SSN: </label>
                        <input class="form-control" required type="text" [(ngModel)]="seller.bSSN" name="bSSN"
                            id="bSSN" placeholder="Enter your SSN number" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="category"><span class="req">* </span> Category: </label>
                        <input class="form-control" required type="text" [(ngModel)]="seller.category" name="category"
                            id="category" placeholder="Enter your business category" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="license"><span class="req">* </span> License: </label>
                        <input class="form-control" required type="text" [(ngModel)]="seller.license" name="license"
                            id="license" placeholder="Enter license" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="sellerId"><span class="req">* </span> Seller Id: </label><small>This will be your login user
                                name</small>
                        <input class="form-control" required type="text" [(ngModel)]="seller.sellerId" name="sellerId"
                            id="sellerId" placeholder="Enter seller id" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="password"><span class="req">* </span> Password: </label>
                        <input class="form-control" required type="text" [(ngModel)]="seller.password" name="password"
                            id="password" placeholder="Enter password" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()" routerLink="/slogged">
                    </div>
                </fieldset>
            </form>
            
        </div>

    </div>
</div>
