
<header>
    <h1>Welcome to All In One E-Commerce</h1>
    <p>|Sell Anything|</p>
    <p>|Buy Anything|</p>
  </header>

  <main>
    <img class="welcome-image" src=".\assets\home.jpg" alt="Welcome Image" style="width: 600px; height: 300px;">
    <p>let's Start</p>
    <div class="button-container">
      <button (click)="goToULogin()" class="blue-button">User Login</button>
      <button (click)="goToUSign()" class="blue-button">User Signup</button>
      <button (click)="goToSLogin()" class="blue-button">Seller Login</button>
      <button (click)="goToAbout()" class="blue-button">Seller Signup</button>
    </div>
  </main>
  <footer>
    <p>Contact Us: advance_web@uab.edu</p>
  </footer>
