
<header>
    <h1>Welcome to All In One E-Commerce</h1>
    <p>|Sell Anything|</p>
    <p>|Buy Anything|</p>
  </header>
<ul class="menu">
    <li><a (click)="registerNow()">Your Products</a></li>
    <li><a (click)="updateProfile()">Update Profile</a></li>
    <li><a (click)="addProduct()">Add Product</a></li>
    <li><a (click)="editProduct()">Edit Product</a></li>
    <li><a (click)="checkOrder()">Check Orders</a></li>
  </ul>
  <br>
  <button (click)="goToHome()"  class="home-button">Logout</button>
  <br>
  <a>Your ID: {{ id}}<a> <br><br>
  <br><br>
    <ng-container #dynamicComponentContainer></ng-container>
    
