<table class="table table-striped custab">
    <thead>
        <tr>
            <th>Customer Address</th>
            <th>Customer First Name</th>
            <th>Customer Last Name</th>
            <th>Product Name</th>
            <th>Product Id</th>
            <th>Shipped Yet</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of orderDetail">
            <td>{{user.userAddress}}</td>
            <td>{{user.uFirstName}}</td>
            <td>{{user.uLastName}}</td>
            <td>{{user.productName}}</td>
            <td>{{user.productId}}</td>
            <td>{{user.shipped}}</td>
            <br>
            <button (click)="markShipped(user.oId)" class="blue-button">Mark as Shipped</button>
          </tr>
    </tbody>
    </table><br>
